{% extends 'base.html' %}

{% block content %}
    {% if user %}
        <div style="margin:20px 0;">
            <img src="static/img/img1.jpg" class="annotatable">

            <p class="image-caption">
                Oslo. By Zdenek Softic.
            </p>
        </div>

        {#
            <div style="margin:20px 0;">
                <img src="static/img2.jpg" class="annotatable">

                <p class="image-caption">
                    Glacier Grey. By Zdenek Softic.
                </p>
            </div>
        #}

        <script type="text/javascript">kt_annotations.start();</script>
    {% endif %}
{% endblock %}
